# pip install pandas

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv("date_inghetata.csv")
df

     temperatura  vanzari      luna zi_saptamana
0              8       25  ianuarie         luni
1             10       35  ianuarie        marti
2             12       45  ianuarie     miercuri
3             15       55  ianuarie          joi
4             18       75  ianuarie       vineri
..           ...      ...       ...          ...
233           33      168       mai     miercuri
234           35      182       mai          joi
235           37      195       mai       vineri
236           39      208       mai      sambata
237           41      222       mai    duminica

[238 rows x 4 columns]

In [4]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df[["temperatura"]]

     temperatura
0              8
1             10
2             12
3             15
4             18
..           ...
233           33
234           35
235           37
236           39
237           41

[238 rows x 1 columns]

In [8]:
np.array(df[["temperatura"]])

array([[ 8],
       [10],
       [12],
       [15],
       [18],
       [20],
       [22],
       [ 9],
       [11],
       [13],
       [16],
       [19],
       [21],
       [23],
       [14],
       [16],
       [18],
       [20],
       [22],
       [24],
       [26],
       [15],
       [17],
       [19],
       [21],
       [23],
       [25],
       [27],
       [18],
       [20],
       [22],
       [24],
       [26],
       [28],
       [30],
       [19],
       [21],
       [23],
       [25],
       [27],
       [29],
       [31],
       [22],
       [24],
       [26],
       [28],
       [30],
       [32],
       [34],
       [23],
       [25],
       [27],
       [29],
       [31],
       [33],
       [35],
       [26],
       [28],
       [30],
       [32],
       [34],
       [36],
       [38],
       [27],
       [29],
       [31],
       [33],
       [35],
       [37],
       [39],
       [30],
       [32],
       [34],
       [36],
       [38],
       [40],
       [42],
       [31],
       [33],
       [35],
       [37],
       [39],
       [41],
       [43],
       [34],
       [36],
       [38],
       [40],
       [42],
       [44],
       [45],
       [35],
       [37],
       [39],
       [41],
       [43],
       [45],
       [44],
       [38],
       [40],
       [42],
       [44],
       [45],
       [43],
       [41],
       [39],
       [41],
       [43],
       [45],
       [44],
       [42],
       [40],
       [35],
       [37],
       [39],
       [41],
       [43],
       [40],
       [38],
       [36],
       [38],
       [40],
       [42],
       [39],
       [37],
       [35],
       [30],
       [32],
       [34],
       [36],
       [38],
       [35],
       [32],
       [31],
       [33],
       [35],
       [32],
       [29],
       [27],
       [25],
       [24],
       [26],
       [28],
       [30],
       [27],
       [24],
       [22],
       [25],
       [27],
       [29],
       [26],
       [23],
       [21],
       [19],
       [18],
       [20],
       [22],
       [24],
       [21],
       [18],
       [16],
       [19],
       [21],
       [23],
       [20],
       [17],
       [15],
       [13],
       [16],
       [18],
       [20],
       [22],
       [24],
       [26],
       [28],
       [17],
       [19],
       [21],
       [23],
       [25],
       [27],
       [29],
       [12],
       [14],
       [16],
       [18],
       [20],
       [22],
       [24],
       [13],
       [15],
       [17],
       [19],
       [21],
       [23],
       [25],
       [20],
       [22],
       [24],
       [26],
       [28],
       [30],
       [32],
       [21],
       [23],
       [25],
       [27],
       [29],
       [31],
       [33],
       [25],
       [27],
       [29],
       [31],
       [33],
       [35],
       [37],
       [26],
       [28],
       [30],
       [32],
       [34],
       [36],
       [38],
       [28],
       [30],
       [32],
       [34],
       [36],
       [38],
       [40],
       [29],
       [31],
       [33],
       [35],
       [37],
       [39],
       [41]])